<h1> I am in Parkslot </h1>

<ul>
  <% @events.each do |event| %>
    <li>
       <%= event.pdata %> </li>
  <% end %>
</ul>


<div id="svgload" style="width: 100%; height: 300px;"></div>

<div id="btnTest">
Click Me!
</div>

