
<div class="page-header">
  <h2>Parking Floors</h2>
</div>

<div class="row">

  <% @buildings.each do |building| %>
      <% building.floors.each do |floor| %>
        <div class="col-xs-8 class">
          <ul class="list-inline">
            <li> <h4><%= building.name %> :  <%= floor.name %></h4> </li>
            <li> <%= link_to 'Show', floor, :class=>"btn btn-primary" %> </li>
          </ul>
        </div>
      <% end %>

  <div class="col-xs-4">
   <ul class="list-unstyled">
    <li> <h4> <%= building.name %> lots status </h4> </li>
    <li> <span class="label label-info">Slots Filled:</span> <div id="filled_b" style="display: inline-block;"> </div> </li>
    <li> <span class="label label-info">Slots Vacant:</span> <div id="vacant_b" style="display: inline-block;"> </div> </li>
    <li> <span class="label label-info">Total Slots:</span> <div id="total_b" style="display: inline-block;"> </div> </li>
   </ul>
  </div>
  <% end %>

</div>

