<h1> I am in Parkslot </h1>



<div id="svgload" style="width: 100%; height: 300px;"></div>

<div id="btnTest">
</div> <!-- we are keeping this div tag to make the user_stream starts properly,need to investigate what does it do such that user_stream works properly -->

