
 <div class="page-header">
  <h3>Parking Floors</h3>
 </div>

<div class="row">

  <div class="col-xs-10">
       <div class="svg" id="svgload" alt="Slide 1"></div>
  </div>

  <div class="col-xs-2">
   <ul class="list-unstyled">
    <li> <span class="label label-info">Slots Filled:</span> <div id="filled" style="display: inline-block;"> </div> </li>
    <li> <span class="label label-info">Slots Vacant:</span> <div id="vacant" style="display: inline-block;"> </div> </li>
    <li> <span class="label label-info">Total Slots:</span> <div id="total" style="display: inline-block;"> </div> </li>
   </ul>
  </div>

</div>


<div id="btnTest">
</div> <!-- we are keeping this div tag to make the user_stream starts properly,need to investigate what does it do such that user_stream works properly -->

