<div class="row">
  <div class="col-xs-6 col-xs-offset-2">
    <div class="page-header">
      <%= link_to 'Cancel', ccunits_path, :class=>"btn btn-default pull-right" %>
      <h3>Add new ccunit</h3>
    </div>
    <%= render 'form' %>
  </div>
</div>
