<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="page-header">
      <%= link_to 'Cancel', users_path, :class=>"btn btn-default pull-right" %>

      <h3>Edit Account</h3>
    </div>
    <%= render 'form' %>
  </div>
</div>
