<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text">
      Copyright &copy; 2015
      <%= link_to 'Fabritronix Electronics Design Labs', 'http://fabritronix.com' %>
    </p>
  </div>
</div>
